.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvasStatic {
  z-index: 0;
}

.canvasAnimated {
  pointer-events: none;
  z-index: 2;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
